{% block footer %}
 <!-- Footer -->
 <footer>

   
    <h2 id="coffe"> Let's connect <i class="fas fa-coffee coffeIcon"></i></h2>
    <div class="footer">
      <div class="social-icons">
        <a href="www.linkedin.com/in/mirnes-nuhanovic" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/Mirnes420/" target="_blank"><i class="fab fa-github"></i></a>
      </br>
        <p>mirnesnuhanovic9@gmail.com</p>
      </div>
     
     
    </div>
  </footer>
{% endblock footer %}